
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 1.5;
  font-size: 1rem;
}

button {
  font-family: inherit;
  cursor: pointer;
  color: #8E3D4C;
  background-color: #FEA646;
  border: 2px solid;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  transition: transform .5s;
}

button:hover {
  transform: scale(1.1);
  transition: transform .5s;
}

p {
  background-color: #fff9;
  color: black;
  padding: 15px;
  justify-content: center;
}

h1 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 0 orange,
               -2px -2px 0 orange,
               -2px 2px 0 orange,
                2px -2px 0 orange;
}

.app {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.container {
  width: 100%;
  margin:  0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 95vh;
}

.phraseAutor {
  background-color: #ffffff80;
  width: 200px;
  margin: 0 auto;
  padding: 10px 20px
}

.containerPhrase {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.bgRec {
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/rectangle2.svg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 60px;
  font-size: 1.3rem
}

.containerPhrase img {
  position: fixed;
  right: 0;
  bottom: 400px
}

@media screen and (min-width: 800px) {
  .containerPhrase {
      min-height:40vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between
  }

  .bgRec {
      font-size: 30px
  }

  button {
      cursor: pointer;
      font-family: inherit;
      font-size: 1.3rem;
      padding: 5px 20px
  }

  .app {
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center
  }

  h1 {
    font-size: 60px;
  }
}
